.section-work {
    background-image: url('../img/bg-0.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    animation: BG .6s inifinte both fowards !important;
    transition: all 1s ease;
    overflow-x: hidden;

    & .row {
        padding-bottom: 5rem;

        & .col-lg-4 {
            text-align: center;
            display: block;

            & .numbers {
                color: $color-primary;
                font-size: 3rem;
                font-weight: 700;
                width: 100%;
                margin-bottom: 1.5rem !important;
            }
        
            & img {
                margin-bottom: 1.5rem;
                user-select: none !important;
            }
        
            & p {
                color: $color-header-caption;
                font-size: 1.2rem;
                width: 50%;
                margin: 0 auto;
                font-weight: 500;
                line-height: 1.6;
            }
        }
    }
}

@keyframes BG {
   from {
       background-size: 100% !important;
   }

   to {
       background-size: 170% !important;
   }
}