.section-talent {

   & .row {
       padding-bottom: 5rem;

    & .col-lg-6 {
        margin-bottom: 5rem;

        &:last-child {
            position: relative;
            transform: translateX(-50%);
            left: 50%;
        }
    }
   }
     
    & .sec-talent {
        
        &--content {
            width: 90%;
            background-color: #4A6FE1;
            border-radius: 0.7rem;
            padding: 4.5rem 3.5rem;

            & p {
                color: $color-white;
                width: 90%;
                font-size: 1.3rem;
                line-height: 1.3;
                margin-top: 1rem;
                margin-bottom: 3.5rem;
            }

            &-iconBox {
                display: flex;
            }

            &-2 {
                float: right;
                right: 0;
            }

            & svg {
                margin-right: 1.5rem;
            }

            h2 {
                color: $color-white;
                font-weight: 400;
                font-size: 1.7rem;
                margin-top: 1.6rem;
                text-transform: capitalize;
            }

            & a {
                padding: 1rem 3rem;
                background-color: $color-white;
                color: $color-primary;
                border-radius: .7rem;
                font-weight: 700;
                font-size: 1.3rem;
                text-transform: capitalize !important;
                transition: all .3s;

                &:hover {
                    box-shadow: 0 1rem 2rem #3953a1;
                }
            }
        }
    }
}